        .body {
            font-family: Arial, sans-serif;
            background-color: #a7a3a3;
            margin: 0;
        }

        .card {
            background-color: rgb(106, 106, 106);
            border-radius: 10px;
            padding: 20px;
            width: 350px;
            text-align: center;
        }

        .image {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
            border-radius: 8px;
        }

        .brand {
            font-size: 24px;
            font-weight: bold;
            color: #122594;
            margin-bottom: 10px;
        }

        .model {
            font-size: 20px;
            color: #212121;
            margin-bottom: 10px;
        }

        .price {
            font-size: 28px;
            color: #25ca6a;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .tarix {
            font-size: 18px;
            color: #686666;
            padding: 10px;
            background-color: #f8f9fa;
            border-radius: 5px;
        }