body {
    background-attachment: fixed;
    background-image: url(plant.jpg);
}

h1 {
    color: green;
    text-align: center;
}

a {
    color: white;
}

.a1 {
    opacity: 0.6;
    background-color: white;
}

.a2 {
    background-color: white;
    opacity: 0.6;
    text-align: center;
}