.m1{
    font-family: Arial, sans-serif;
}

.m2{
    font-family: Verdana, sans-serif;
}

.m3{
    font-family: 'Times New Roman', serif;
}

.m4{
    font-family: 'Courier New', monospace;
}

.m5{
    font-family: Georgia, serif;
}